<h1 class="heading wow">Enter your Zipcode</h1>
<%= simple_form_for @user, :url => new_user_path do |f| %>
    <%= f.input :zipcode, label: 'Your zipcode', error: 'Zipcode is mandatory, please specify one' %>
    <%= f.button :submit %>
<% end %>
